/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require bootstrap.min
 *= require style
 *= require responsive
 *= require style1
 *= require_self
 */
.main_slider{
	width: 100%;
	height: 70%;
	display: inline-block;
}

.section-profile .nav.nav-tabs{
	width:auto;
	display: inline-block;
	margin: 0 auto;
	border:none;
}

.section-profile .nav.nav-tabs li{
	width:auto;
	display: inline-block;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom:10px;
	border-bottom:2px solid transparent;
}
.section-profile .nav.nav-tabs li.active{
	border-bottom-color:#3d5679;
}

.section-profile .nav.nav-tabs li a{
	text-decoration: none;
	color:#fff;
}
.section-profile .nav.nav-tabs li.active a, .section-profile .nav.nav-tabs li a:hover{
	color:#3d5679;
}
.carousel-item img{
	max-height: 500px !important;
	width: auto !important;
	margin: 0 auto;
}
.div_align_center{
	margin: 0 auto;
  width: 100%;
  padding-top: 20px;
  font-size: 16px !important;
  text-align: center;
}
.div_align_center_about{
	margin: 0 auto;
  width: 60%;
  font-size: 16px !important;
  padding-top: 20px;
}
html *
{
   font-size: 1em !important;
   font-family: Verdana !important;
}