@font-face {
    font-family: verdanaBold;
    src: url(asset_path("verdanab.ttf"));
}

body{
  padding:0;
  margin:0;
}

.section{
  padding: 20px;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: 0.7s;
  box-sizing:border-box;
}

.section-home{
  top: 0;
  background:url(asset_path("background-center.png")) no-repeat;
  background-size:cover;
  background-position:center;
}

.section-gallery{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top: 100%;
  overflow-y:auto;
  background:url(asset_path("gallery-home.png")) no-repeat;
  background-size:cover;
  background-position:center;
  padding:50px 0 50px 0;
  box-sizing:border-box;
}

.section-login{
  bottom: 100%;
  background:url(asset_path("background-login.png")) no-repeat;
  background-size:cover;
  background-position:center;
}

.section-about{
  right: 100%;
  background:url(asset_path("background-profile.png")) no-repeat;
  background-size:cover;
  background-position:center;
}

.section-profile{
  left: 100%;
  background:url(asset_path("background-profile.png")) no-repeat;
  background-size:cover;
  background-position:center;
}

/* Top Bottom Button */
#login {
  position: absolute;
  font-size: 16px !important;
  top: 30px;
  z-index: 3;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  color: white;
}

#login:before{
  position: absolute;
  content: '';
  left: 50%;
  top: -30px;
  width: 2px;
  height: 30px;
  background: white;
  z-index: 5;
}

#gallery-main, #view-gallery{
  position: absolute;
  font-size: 16px !important;
  bottom: 30px;
  z-index: 3;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  color: white;
}

#gallery-main:before, #view-gallery:before{
  position: absolute;
  content: '';
  left: 50%;
  bottom: -30px;
  width: 2px;
  height: 30px;
  background: white;
  z-index: 5;
}


#login-to-home{
  position: absolute;
  font-size: 16px !important;
  bottom: 30px;
  z-index: 3;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%); 
  color: white;
}

#login-to-home:before{
  position: absolute;
  content: '';
  left: 50%;
  bottom: -30px;
  width: 2px;
  height: 30px;
  background: white;
  z-index: 5;
}

#gallery-to-home, #gallery-wall-to-gallery{
  position: absolute;
  font-size: 16px !important;
  top: 30px;
  z-index: 3;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%); 
  color: white;
}

#gallery-to-home:before, #gallery-wall-to-gallery:before{
  position: absolute;
  content: '';
  left: 50%;
  top: -30px;
  width: 2px;
  height: 30px;
  background: white;
  z-index: 5;
}

/* left Right Button */
#about{
  left: 40px;
  position: absolute;
  font-size: 16px !important;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: white;
}

#about:before{
  position: absolute;
  content: '';
  top: 50%;
  left: -40px;
  width: 30px;
  height: 2px;
  background: white;
  z-index: 5;
}

#profile{
  right: 40px;
  position: absolute;
  font-size: 16px !important;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: white;
}

#profile:before{
  position: absolute;
  content: '';
  top: 50%;
  right: -40px;
  width: 30px;
  height: 2px;
  background: white;
  z-index: 5;
}

#profile-to-home{
  left: 40px;
  position: absolute;
  font-size: 16px !important;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: white;
}

#profile-to-home:before{
  position: absolute;
  content: '';
  top: 50%;
  left: -40px;
  width: 30px;
  height: 2px;
  background: white;
  z-index: 5;
}

#about-to-home{
  right: 40px;
  position: absolute;
  font-size: 16px !important;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: white;
}

#about-to-home:before{
  position: absolute;
  content: '';
  top: 50%;
  right: -40px;
  width: 30px;
  height: 2px;
  background: white;
  z-index: 5;
}

/*Login Section*/
.login_form{
  position:relative;
  top:50%;
  transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -o-transform:translateY(-50%);
}

.form_field{
  width:100%;
  display:inline-block;
}

.form_field label{
  width:100%;
  display:inline-block;
  border-top:4px solid rgba(61,86,121,0.3);
  padding:20px 10px 0 10px;
  box-sizing:border-box;
  color:#fff;
  font-size:20px;
  text-align:left;
  margin-bottom:0;
  text-transform:uppercase;
  font-weight:normal;
}

.form_field input[type='text'], .form_field input[type='password']{
  width:100%;
  font-size:18px;
  font-weight:600;
  padding:0 10px 0 10px;
  margin-bottom:25px;
  background:transparent;
  outline:0;
  border:0;
  box-shadow:none;
  color:#ffffff;
  font-weight:normal;
}

.form_field button{
  width:100%;
  display:inline-block;
  background-color:#3d5679;
  outline:0;
  border:0;
  box-shadow:none;
  color:#ffffff;
  padding:10px 0 10px 0;
  border-radius:5px;
  font-size:18px;
  text-transform:uppercase;
  font-weight:600;
  cursor:pointer;
  font-weight:normal;
}

.signup h2{
  color:#ffffff;
  font-size:16px;
  text-transform:uppercase;
  margin:0;
}

.signup h2 a{
  margin:0 auto;
  padding:5px 20px 5px 20px;
  border:2px solid #3d5679;
  border-radius:5px;
  margin-left:10px;
  color:#ffffff;
  text-decoration:none;
  transition:0.3s;
}
.signup h2 a:hover{
  background-color:#3d5679;
}
/*Login Closed*/

/*Home Page*/
.logo{
  position:relative;
  top:50%;
  transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  width:100%;
  text-align:center;
}
.logo img{
  width:650px;
}

.logo h3{
  position:absolute;
  bottom:-50px;
  text-align:center;
  width:100%;
  padding-left:35%;
  color:#ffffff;
  z-index:123;
  font-size:20px;
}
/*Home Page Closed*/

/*Gallery Page*/
.gallery_logo{
  position:relative;
  top:50%;
  transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  width:100%;
  text-align:left;
  padding-left:5%;
}

.gallery_logo:after{
  content:'';
  position:absolute;
  top:50%;
  left:-20px;
  width:30px;
  height:2px;
  z-index:123;
  background:#ffffff;
}

.gallery_logo img{
  width:650px;
}

.gallery_logo h3{
  position:absolute;
  bottom:-55px;
  text-align:left;
  width:100%;
  padding-left:15%;
  color:#3d5679;
  z-index:123;
  font-size:22px;
}

.section-gallery-wall{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:100%;
  overflow-y:auto;
  background:url(asset_path("gallery-wall.png")) no-repeat;
  background-size:cover;
  background-position:center;
  padding:50px 0 50px 0;
  box-sizing:border-box;
}
/*Gallery Page Closed*/

/*Gallery Collection*/
.relative-pos{
  position:relative;
}
.section-gallery-collection{
  position:fixed;
  width:100%;
  height:100%;
  left:100%;
  top:0;
  overflow:hidden;
  background:url(asset_path("gallery-collection.png")) no-repeat;
  background-size:cover;
  background-position:center;
}

.pattern_logo{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  text-align:left;
  padding-left:5%;
  width:auto;
  left:0;
}

.pattern_logo:after{
  content:'';
  position:absolute;
  top:50%;
  left:0px;
  width:35px;
  height:2px;
  z-index:123;
  background:#3d5679;
  cursor:pointer;
}

.pattern_logo h1{
  font-size:100px;
  font-weight:bold;
  font-family:verdanaBold;
  color:#3d5679;
  text-shadow: 0px 7px 0px rgba(165, 162, 162, 1);
  position:relative;
  width:auto;
  display:inline-block;
  text-transform:uppercase;
}

.pattern_logo h1:before{
  content:'+';
  position:absolute;
  top:30%;
  right:-35px;
  z-index:123;
  color:#3d5679;
  font-size:40px;
  text-shadow:none;
}
.collection{
  position:absolute;
}

.collection1 img, .collection2 img, .collection3 img, .collection4 img{
  width:100%;
}

.collection1{
  width:800px;
  bottom:70%;
  right:-5%;
  z-index:1;
}

.collection2{
  width:600px;
  top:20%;
  right:-30%;
  z-index:4;
}

.collection3{
  width:1000px;
  top:20%;
  left:60%;
}

.collection4{
  width:1200px;
  top:70%;
  right:2%;
  z-index:3;
}

.collection1:hover, .collection2:hover, .collection3:hover, .collection4:hover{
  z-index:99;
}
/*Gallery Collection Closed*/

/*Selected Collection*/
.pattern_logo_bottom{
  position:absolute;
  bottom:0px;
  text-align:left;
  padding-left:5%;
  width:100%;
  left:0;
}

.pattern_logo_bottom:after{
  content:'';
  position:absolute;
  top:50%;
  left:0px;
  width:35px;
  height:2px;
  z-index:123;
  background:#3d5679;
}


.pattern_logo_bottom h1{
  font-size:100px;
  font-weight:bold;
  font-family:verdanaBold;
  color:#3d5679;
  text-shadow: 0px 7px 0px rgba(165, 162, 162, 1);
  position:relative;
  width:auto;
  display:inline-block;
  text-transform:uppercase;
  margin:0;
}

.pattern_logo_bottom h1:before{
  content:'+';
  position:absolute;
  top:30%;
  right:-35px;
  color:#3d5679;
  font-size:40px;
  text-shadow:none;
}

.selected_collection{
  width:100%;
  display:inline-block;
  text-align:center;
  position:relative;
  top:50%;
  transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -o-transform:translateY(-50%);
}

.selected_collection img{
  width:auto;
  max-width:550px;
  margin:0 auto;
}

.section-selected-gallery-collection{
  position:fixed;
  width:100%;
  height:100%;
  left:100%;
  top:0;
  overflow:hidden;
  background:url(asset_path("gallery-collection.png")) no-repeat;
  background-size:cover;
  background-position:center;
}

#back-to-collection {
  left: 40px;
  position: absolute;
  font-size: 20px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: white;
}

#back-to-collection:before{
  position: absolute;
  content: '';
  top: 50%;
  left: -40px;
  width: 30px;
  height: 2px;
  background: #3d5679;
  z-index: 5;
}

#next-image {
  right: 40px;
  position: absolute;
  font-size: 20px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: white;
}

#next-image:before{
  position: absolute;
  content: '';
  top: 50%;
  right: -40px;
  width: 30px;
  height: 2px;
  background: #3d5679;
  z-index: 5;
}

/*FEED BACK FORM*/
.section-feedback{
  bottom: 100%;
  background:url(asset_path("background-login.png")) no-repeat;
  background-size:cover;
  background-position:center;
  z-index:999;
  overflow:auto;
}

.feedback_form{
  position:relative;
  top:50%;
  transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -o-transform:translateY(-50%);
}

.form_field textarea{
  width:100%;
  font-size:18px;
  font-weight:600;
  padding:0 10px 0 10px;
  margin-bottom:25px;
  background:transparent;
  outline:0;
  border:0;
  box-shadow:none;
  color:#ffffff;
  border: 4px solid #7a889a;
  min-height:260px;
  resize:none;
}

.feedback_form p{
  font-size:22px;
  margin:0 0 30px 0;
  color:#ffffff;
}

#feedback-to-home{
  position: absolute;
  font-size: 20px;
  bottom: 30px;
  z-index: -1;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%); 
  color: white;
}

#feedback-to-home:before{
  position: absolute;
  content: '';
  left: 50%;
  bottom: -30px;
  width: 2px;
  height: 30px;
  background: white;
}
/*FEED BACK FORM CLOSED*/

/*ANIMATION*/
.animate{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

/*EDITED ON: 2-10-18*/
.move-top{
  width: auto;
  display: inline-block;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  color: #000;
  z-index: 123;
  height:120px;
  display:inline-block;
  pointer-events: none;
  overflow: visible !important;
}
/*EDITED ON: 2-10-18 CLOSED*/

.part-two{
  height:120px;
  display:inline-block;
}

.move-top img, .part-two img{
  height:100%;
}

.particles{
  width: auto;
  display: inline-block;
  position: relative;
  top:50%;
  margin-left: 130px;
  transform: translateY(-50%);
  color: #ffffff;
}

.particles-canvas {
  position: absolute;
  pointer-events: none;
  top: 50%;
    left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.particles-wrapper{
  overflow: hidden;
}
/*ANIMATION CLOSED*/

/*CAST BUTTON*/
.cast_btn{
  position:absolute;
  width:auto;
  display:inline-block;
  top:20px;
  left:20px;
}

.cast_btn button{
  width:auto;
  display:inline-block;
  background-color:#3d5679;
  outline:0;
  border:1px solid #fff;
  box-shadow:none;
  color:#ffffff;
  padding:8px 20px 8px 20px;
  border-radius:5px;
  font-size:18px;
  text-transform:uppercase;
  cursor:pointer;
  font-weight:normal;
  transition:0.3s;
  z-index:3;
}
.cast_btn button:hover{
  background:#fff;
  color:#3d5679;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
}
/*CAST BUTTON*/


/* ADDED ON 2-10-18 */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  /* background-color: #111; */
  background: url(asset_path("background-profile.png")) no-repeat;
  background-size: cover;
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.4);
}

.sidenav a {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
  font-size: 36px;
  text-align:right;
  padding-right:20px;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

#menu-toggle span {
  display: block;
  background: #566973;
  border-radius: 2px;
  transition: .25s ease-in-out;
  box-sizing: border-box;
}

#menu-toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  top: 14px;
  left: 30px;
  transition: .25s ease-in-out;
  box-sizing: border-box;
}
#menu-toggle:hover {
  background: rgba(255, 255, 255, 0.8);
}
#menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}
#menu-toggle #hamburger span {
  width: 30px;
  height: 4px;
  position: relative;
  top: 6px;
  left: 10px;
  margin: 7px 0;

  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0, 2s;
}

#menu-toggle #hamburger span:nth-child(1) {
  animation-delay: .5s;
}
#menu-toggle #hamburger span:nth-child(2) {
  animation-delay: .625s;
}
#menu-toggle #hamburger span:nth-child(3) {
  animation-delay: .75s;
}

@-webkit-keyframes example {
  0%   {width:30px}
  50% {width:0}
}

@keyframes example {
  0%   {width:30px}
  50% {width:0}
}

/* ADDED ON 2-10-18 */